{erl_opts, [debug_info, {parse_transform, lager_transform},   {verbosity, trace}]}.
{deps, [
        {lager, "3.9.2"},
        {cowboy, "2.9.0"}
       ]}.

{relx, [{release, {'nine9s', "0.1.0"},
         ['nine9s',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
